ul.nav
  li(ng-class="getClass('/view1')")
    a(ng-href='#/view1') view1
  li(ng-class="getClass('/view2')")
    a(ng-href='#/view2') view2
  li(ng-class="getClass('/view3')")
    a(ng-href='#/view3') 今天的情形
  li(ng-class="getClass('/view4')")
    a(ng-href='#/view4') 今天的情形 (Google Map)
  li(ng-class="getClass('/view5')")
    a(ng-href='#/view5') Report
  li(ng-class="getClass('/view6')")
    a(ng-href='http://cmdweb.pcc.gov.tw/pccms/pwreport/pccducon_geoeng.peo_entry') 施工 Report
  li(ng-class="getClass('/view7')")
    a(ng-href='#/view7') 所有的情形
