div(ng-controller='ReportCtrl')
  p {{reportText}}
  p event: {{geoAccelGyro.event}}
  p lat: {{geoAccelGyro.lat}}
  p lon: {{geoAccelGyro.lon}}
  p yaw: {{geoAccelGyro.yaw}}
  p pitch: {{geoAccelGyro.pitch}}
  p roll: {{geoAccelGyro.roll}}
  p move_x: {{geoAccelGyro.move_x}}
  p move_y: {{geoAccelGyro.move_y}}
  p move_z: {{geoAccelGyro.move_z}}
