/*
Place custom styles here. Thes styles are ment to be loaded after
bootstrap, so the may override it's behavior.
*/

body {
  font-size: 16px;
}

// Footer
.footer {
  //background-color: #ffffee;
  //padding: 30px 0;
  //text-shadow: none;
  //@include box-shadow(inset 0 0px 15px rgba(0, 0, 0, .5));
}

.gridStyle {
  border: 1px solid rgb(212,212,212);
  height: 400px;
}

.active {
  color: $white;
}

.brand a {
  color: #00ffff;
}

.map-canvas { 
  height: 500px;
}

.my-camera {
  width: 400px;
  height: 400px;
}